<div class="homepage">
  <h3>Search Tables, Chairs..</h3>
  <div class="searchpanel">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <form class="card card-sm searchform" (ngSubmit)="onSubmit()">
            <div class="card-body row no-gutters align-items-center">
              <div class="col searchbox">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Search Tables, Chairs.." aria-label="State" [matAutocomplete]="auto"
                    name="search" [(ngModel)]="searchCtrl" (ngModelChange)="searchCateogry()">
                  <mat-autocomplete #auto="matAutocomplete" autocompleteDisabled="true">
                    <mat-option *ngFor="let state of searchResults" [value]="searchCtrl">
                      <img class="example-option-img" aria-hidden [src]="state.image" height="25">
                      <span>{{state.name}}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-auto">
                <button mat-flat-button [disabled]="!searchCtrl" type="submit" color="primary">Search</button>
                <!-- <button class="btn btn-lg btn-search" [disabled]="!search" type="submit">Search</button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
